.root {
  width: 100%;
  height: 680px;
  position: relative;
}

.smallPokeBall {
  position: absolute;
  left: 10%;
}

.cloud {
  position: absolute;
  left: 10%;
  bottom: 40%;
}

.cloudBig {
  position: absolute;
  left: 65%;
  top: 5%;
  transform: scale(1.4);
}

.pokeBall {
  position: absolute;
  top: 10%;
  right: 0%;
  pointer-events: none;
}

.pikachu {
  position: absolute;
  top: 0%;
  right: 25%;
}
