@import '../../styles/breakpoints';

.root {
  width: 100%;
  height: 680px;
  position: relative;
}

.smallPokeBall {
  position: absolute;
  left: 10%;
}

.cloud {
  position: absolute;
  left: 3%;
  bottom: 39.22%;
}

.cloudBig {
  position: absolute;
  left: 39.86%;
  top: 4%;
  transform: scale(1.4);
}

.pokeBall {
  position: absolute;
  top: 10%;
  right: 0%;
  pointer-events: none;
}

.pikachu {
  position: absolute;
  top: 0%;
  left: 15%;

  @include media('>laptop') {
    left: 5%;
  }
}
