@import '../../styles/variables';

.labelWrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.skeleton_label {
  border-radius: 11px;
  min-height: 20px;
  min-width: 60px;
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }
}
