@import '../../styles/breakpoints';
@import '../../styles/variables';

.root {
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;

  @include media('>=tablet') {
    flex-direction: row;
  }
}
.leftWrap {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  flex-basis: 45%;
  min-height: #{'min(50vh, 500px)'};
}
.pictureWrap {
  width: 100%;
}
.labelWrap {
  justify-content: flex-end;
  width: 100%;
  padding: 16px 14px;
  z-index: 1;
}
.infoWrap {
  display: flex;
  flex-flow: column;
  gap: 20px;
  flex-basis: 60%;
  padding: 25px 20px 15px;
  box-shadow: inset 50px 50px 123px -34px #000000ab;
}
.infoHead {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.infoStats {
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
  height: 100%;
}
.infoName {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: $white;
}
.infoGen {
  font-style: normal;
  font-size: 20px;
  font-weight: 200;
  color: $white;
}
.idBadge {
  background-color: $third;
  font-weight: bold;
  min-width: 35px;
  max-height: 35px;
  padding: 10px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: end;
}
.ability {
  padding: 10px;
}
.resources {
  padding: 10px;
}
.statWrapper {
  background-color: $white;
  border-radius: $card_radius;
  padding-block: 10px;
  gap: 5px;
}
