@import '../../styles/breakpoints';
@import '../../styles/variables';

.root {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 16px;
  overflow: hidden;

  @include media('>=tablet') {
    flex-direction: row;
  }
}
.leftWrap {
  position: relative;
  flex-basis: 40%;
  width: clamp(45%, 800px, 100%);
  min-height: 500px;
  box-shadow: inset -20px -9px 100px 20px $white, 11px 8px 40px 3px #00000086;
}
.pictureWrap {
  width: 100%;
}
.labelWrap {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.infoWrap {
  flex-basis: 60%;
  padding: 25px 15px;
  background: linear-gradient(180deg, #732119 42.19%, $dark 100%);
}
.infoHead {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.infoStats {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}
.infoName {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: $white;
}
.infoGen {
  font-style: normal;
  font-size: 20px;
  color: $white;
}
.idBadge {
  background-color: $third;
  font-weight: bold;
  width: 35px;
  height: 35px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: end;
}
