$third: #f5db13;
$primary: #f2b807;
$second: #f28f16;
$danger: #d93e30;
$white: #f2f2f2;
$dark: #212121;

$poison: linear-gradient(270deg, #5bc7fa 0.15%, #35baff 100%);
$grass: linear-gradient(270deg, #64d368 0.15%, #64d368 70.88%);
$fire: linear-gradient(270deg, #b33327 0.15%, #d93e30 100%);
$blaze: linear-gradient(270deg, #f2cb07 0.15%, #f2b807 100%);
$solar-power: linear-gradient(270deg, #f89eae 0.15%, #f4b5c1 100%);
