//colors:
$third: #f5db13;
$primary: #f2b807;
$second: #f28f16;
$danger: #d93e30;
$white: #f2f2f2;
$dark: #212121;
$hp: #4b852a;
$defense: #705746;
$attack: #942e2a;

//bg colors:
$bgColors: (
  normal: #a8a77a,
  fire: #ee8130,
  water: #6390f0,
  electric: #f7d02c,
  grass: #7ac74c,
  ice: #96d9d6,
  fighting: #c22e28,
  poison: #f06bed,
  ground: #e2bf65,
  flying: #a98ff3,
  psychic: #f95587,
  bug: #a6b91a,
  rock: #b6a136,
  ghost: #735797,
  dragon: #6f35fc,
  dark: #705746,
  steel: #b7b7ce,
  fairy: #d685ad,
);

//radius:
$card_radius: 8px;
$label_radius: 16px;
$modal_radius: 16px;

//shadow:
$base_shadow: 4px 4px 4px #21212103;
$label_shadow: inset 0px -2px 0px #0000002e;
