@font-face {
  font-family: 'Karla';
  src: url('./fonts/Karla-Regular.ttf') format('truetype'), url('./fonts/Karla-Bold.ttf') format('truetype'),
    url('./fonts/Karla-Light.ttf') format('truetype'), url('./fonts/Karla-ExtraBold.ttf') format('truetype');
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: 'Karla', sans-serif;
  overflow-x: hidden;
}
