@import '../../styles/variables';

.root {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
  cursor: pointer;
}

.infoWrap {
  display: flex;
  flex-flow: column;
  gap: 12px;
  width: 100%;
  padding: 12px 25px;
  z-index: 1;
}

.card {
  transition: all ease-in-out 0.15s;
  &:hover {
    transform: scale(1.03);
    transition: all ease-in-out 0s;
  }
}
