@import '../../styles/variables';

.filters {
  position: relative;
  display: flex;
  justify-content: center;
  font-weight: 400;
  width: fit-content;

  & button {
    cursor: pointer;
    width: 135px;
    border: none;
    outline: none;
    background: $white;
    padding: 5px;
    box-shadow: $button_shadow;
    border-radius: $button_radius;
  }

  &_dropdown {
    position: absolute;
    z-index: 10;
    width: 135px;
    top: 32px;
    display: flex;
    gap: 8px;
    padding: 5px;
    flex-flow: column wrap;
    background: $white;
    box-shadow: $button_shadow;
    border-radius: $button_radius;

    & div {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px;
      text-transform: capitalize;
      padding-left: 25px;

      &:focus {
        outline-color: lighten($dark, 50%);
        outline-style: dashed;
        outline-width: thin;
      }
    }

    & input {
      cursor: pointer;
      outline: none;
      &:focus {
        outline: none;
      }
    }
  }
}
